body {
    background-color: #f2f2f2;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fancy-button-grey {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f2f2f2, #dbdbdb); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e8e8e8),color-stop(1, #d2d2d2)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#d2d2d2'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#d2d2d2')"; /* IE8 */
    border: 1px #b2b2b2 solid;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: #333333;
}

.fancy-button-grey:hover {
    border: 1px #888888 solid;
}

#header {
    width: 620px;
    margin: 20px auto 10px auto;
}

#start {
  text-align: center;
}

#start > input {
  padding: 10px 15px;
}

#test-results-wrap {
    width: 800px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#test-results {
    width: 100%;
    border-collapse: collapse;
    border: 1px #e8e8e8 solid;
}

#test-results td {
    padding: 5px;
    color: #333333;
    border-bottom: 1px #e8e8e8 solid;
    border-right: 1px #e8e8e8 solid;
}

#test-header td {
    font-weight: bold;
    border-bottom: 1px #b2b2b2 solid;
    color: #222222 !important;
}

#image-wrap, #graph-wrap {
    width: 600px;
    height: 406px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#graph-wrap { width: 1000px !important; height: 300px !important; }

#test-graph {
  width: 1000px;
  height: 300px;
}